<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/js/sockjs.js"></script>
    <script src="/js/stomp.js"></script>
    <title>Title</title>
</head>
<body>
  <div class="content">
      <ul id="chatBox">
          <li>test</li>
      </ul>
      <input name="message"/>
      <input type="button" id="sendBtn" value="보내기" onclick="send()">
  </div>

<script>
    const chatBox = document.getElementById("chatBox");
    const messageInput = document.getElementsByName("message")[0];
    const sendBtn = document.getElementById("sendBtn");

    const sock = new SockJS("/ranChat");
    const client = Stomp.over(sock);

    client.connect({}, function (){
        client.send('/publish/chat/join', {}, JSON.stringify({message:"채팅방 입장"}));
        client.subscribe('/subscript/chat/room')
    })

    //ononpen = connection이 맺어졌을 때의 callback
    /*
    sock.onopen = function () {
        // send : connection으로 message를 전달
        // connection이 맺어진 후 가입(JOIN) 메시지를 전달
        sock.send(JSON.stringify({message:"채팅방에 입장하였습니다."}))


        // onmessage : message를 받았을 때의 callback
        sock.onmessage = function (e) {
            let content = JSON.parse(e.data);

            let liElement = document.createElement("li");
            let textNode = document.createTextNode(content.message);
            liElement.appendChild(textNode);
            chatBox.appendChild(liElement);
        }
    }
    function send() {
        sock.send(JSON.stringify({message: messageInput.value}));
        messageInput.value="";
    }
    */
</script>
</body>
</html>