.App {
    text-align: center;
    background-color: #4ab0d0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* ----------------------------------index 페이지 -------------------------------*/
.title {
    text-align: center;
    vertical-align: top;
    font-size: 128px;
    color: #ffffff;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.home {
    margin-top: -3em;
}

.menu-button {
    display: block;
    margin: 1em;
    font-size: 36px;
    color: #ffffff;
}


/*------------------------------------랜덤 채팅 페이지 --------------------------*/
.chat-box {
    position: relative;
    background: white;
    width: 500px;
    height: 600px;
    color: black;
}
.chat-box-head {
    border-bottom: solid 1px #4ab0d0;
}

.chat-message-container {
    height: 465px;
    margin: 0px;
    overflow-y: scroll;
}

.chat-message-receive {
    background-color: #88d6ef;
    padding: 0.5em 1em;
    width: max-content;
    margin: 0.1em 1em;
    clear: both;
}

.chat-message-send {
    background-color: #FFE713;
    padding: 0.5em 1em;
    width: max-content;
    margin: 0.1em 1em;
    float: right;
    clear: both;
}

.message-system {
    clear: both;
    margin: 0.5em;
}

.message-form {
    bottom: 0px;
    border-top: solid 1px #4ab0d0;
    min-width: max-content;
    padding: 1em 2em;
}

.message-input {
    width: 300px;
    height: 30px;
}

.send-button {
    font-size: 20px;
    margin-left: 10px;
}

/*-------------------------------join/login form-------------------------*/
.login-form {
    background-color: white;
    width: 35rem;
    height: 40rem;
    border-radius: 1rem;
}
.form-top-title {
    color: #4ab0d0;
}
.form-tag {
    height: 2em;
    width: 25rem;
    display: flex;
    align-items: center;
    background-color: #88d6ef;
    margin: 1em auto;
    border-radius: 1rem;
}

.tag-name {
    font-size: 1.3rem;
    padding: 0.7rem;
    margin: 0;
    width: 6em;
}

.form-input-back {
    display: flex;
    background-color: white;
    width: 15rem;
    height: 2rem;
    border-radius: 0.5rem;
}
.form-input {
    border: none;
    width: 13rem;
    margin: auto;
    font-size: 1rem;
}
.form-input:focus{
    outline: none;
}
.login-button{
    display: block;
    color: white;
    background-color: #88d6ef;
    margin: auto;
    border: none;
    height: 2em;
    width: 25rem;
    font-size: 1.3rem;
}
.help-link {
    display: inline-block;
    font-size: 1rem;
    margin: 0rem 1rem;
    width: 10rem;
    text-decoration: none;
    color: #4ab0d0;
    background-color: white;
    border: none;
}
