.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-link {
    color: #61dafb;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* ----------------------------------index 페이지 -------------------------------*/
.title {
    text-align: center;
    vertical-align: top;
    font-size: 128px;
    color: #ffffff;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

.menu-button {
    text-decoration: none;
    display: block;
    margin: 1em;
    font-size: 36px;
    color: #ffffff;
}

.menu-button:hover{
    text-decoration: underline;
    cursor: pointer;
}


/*------------------------------------랜덤 채팅 페이지 --------------------------*/
.chat-box {
    position: relative;
    background: white;
    width: 500px;
    height: 600px;
    color: black;
}
.chat-box-head {
    border-bottom: solid 1px #4ab0d0;
}

.chat-message-container {
    height: 465px;
    margin: 0px;
    overflow-y: scroll;
}

.chat-message-container li{
    padding: 0.5em 1em;
    margin: 0.1em 1em;
    border-radius: 1em;
    clear: both;
}

.chat-message-receive {
    background-color: #88d6ef;
    float: left;
}

.chat-message-send {
    background-color: #FFE713;
    float: right;
}

.message-system {
    clear: both;
    margin: 0.5em;
}

.message-form {
    bottom: 0px;
    border-top: solid 1px #4ab0d0;
    min-width: max-content;
    padding: 1em 2em;
}

.message-input {
    width: 300px;
    height: 30px;
}

.send-button {
    font-size: 20px;
    margin-left: 10px;
}

/*-------------------------------join/login form-------------------------*/
.login-form {
    background-color: white;
    width: 37rem;
    height: 40rem;
    border-radius: 1rem;
}
.form-top-title {
    color: #4ab0d0;
}
.form-tag {
    height: 2em;
    width: 25rem;
    display: flex;
    align-items: center;
    background-color: #88d6ef;
    margin: 0.8em auto 0em auto;
    border-radius: 1rem;
}

.tag-name {
    font-size: 1.3rem;
    padding: 0.7rem;
    margin: 0;
    width: 6em;
}

.form-input-back {
    display: flex;
    background-color: white;
    width: 15rem;
    height: 2rem;
    border-radius: 0.5rem;
}
.form-input {
    border: none;
    width: 13rem;
    margin: auto;
    font-size: 1rem;
}
.form-input:focus{
    outline: none;
}

.validation-message{
    color:black;
    margin: auto;
    height: 1.2rem;
    width: 25rem;
    font-size: 1.2rem;
}

.email-check-btn{
    position: absolute;
    right: 0.6em;
    font-size: 1.1rem;
    border: none;
    border-radius: 1rem;
    background-color: #88d6ef;
}
.email-check-btn:hover{
    cursor: pointer;
}

.login-button{
    display: block;
    color: white;
    background-color: #88d6ef;
    margin: 0.8em auto 0 auto;
    border: none;
    height: 2em;
    width: 25rem;
    font-size: 1.3rem;
}
.help-link {
    display: inline-block;
    font-size: 1rem;
    margin: 0rem 1rem;
    width: 10rem;
    text-decoration: none;
    color: #4ab0d0;
    background-color: white;
    border: none;
}
.help-link:hover{
    cursor: pointer;
}
