.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-link {
    color: #61dafb;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/*------------------------------------랜덤 채팅 페이지 --------------------------*/
.chat-box {
    position: relative;
    background: white;
    width: 500px;
    height: 600px;
    color: black;
}
.chat-box-head {
    border-bottom: solid 1px #4ab0d0;
}

.chat-message-container {
    height: 465px;
    margin: 0px;
    overflow-y: scroll;
}

.chat-message-container li{
    padding: 0.5em 1em;
    margin: 0.1em 1em;
    border-radius: 1em;
    clear: both;
}

.chat-message-receive {
    background-color: #88d6ef;
    float: left;
}

.chat-message-send {
    background-color: #FFE713;
    float: right;
}

.message-system {
    clear: both;
    margin: 0.5em;
}

.message-form {
    bottom: 0px;
    border-top: solid 1px #4ab0d0;
    min-width: max-content;
    padding: 1em 2em;
}

.message-input {
    width: 300px;
    height: 30px;
}

.send-button {
    font-size: 20px;
    margin-left: 10px;
}

